/* Home */
#home{
    height: 820px;
}

.headings{
    font-size: 1.7rem;
}

.homeheading{
    font-size: 3.4rem;
}
/* About*/
#about{
    height: fit-content;
}

.profilecard{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 700px;
    align-content: center;
    margin: 30px;
}
.leftcard{
    width: 100%;
}

.rightcard{
    width: 100%;
}

/* Porfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}

/*subpage*/
#subhome{
    height: 1200px;
}

#subhome::before{
    height: 3300px;
}

/*IT*/
.subwhybox{
    height: 500px;
    width: 700px;
}

/* Ideal */
#subhomeideal{
    height: 1700px;
}

#subhomeideal::before{
    height: 4000px;
}
.subidealbox{
    width: 700px;
    height: fit-content;
}
.idealgallery img {
    height: 348px;
    width: 300px;
  }


/* Personal Profile */

.subidealPP{
    top: 30%;
}
.subidealPPbox{
    height: fit-content;
    width: 700px; 
}

.idealPPgallery img {
    width: 700px;
}


/* Project Ideas*/

#subhomeproject{
    height: 2500px;
}

#subhomeproject::before{
    height: 4600px;
}

.subprojectbox{
    height: fit-content;
    width: 700px;
}
